!!!
%html{html_attrs('de-DE')}
  %head
    %title Gallery
    %script{:type => 'text/javascript', :src => 'http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true_or_false&amp;key=' + @google_api_key }
    %script{:type => 'text/javascript', :src => 'js/jquery-1.6.min.js'}
    %script{:type => 'text/javascript', :src => 'js/jquery.gmap-1.1.0-min.js'}
    %link{:type => 'text/css', :rel => 'stylesheet', :media => 'screen', :href => 'style.css' }
  %body
    :javascript
      $(function() {
        var options = #{@gmap_options};
        $("#map").gMap(options);

        var hideAll = function() {
          $("#control-all").attr("checked", false);
          $("#gallery img").each(function(i,e) {
            console.log(e);
            $(e).hide();

          });
        };

        $("#control-all").bind('click', function() {
          if($(this).is(':checked')) {
            $("#gallery img").show();
          } else {
            $("#gallery img").hide();
          }
        });

        $("#control-flash").bind('click', function() {
          hideAll();
          $("#gallery img.on-fired").show();
        });

      })();
    %h1 Exif Visualizer
    %div#content
      %h2 Google Maps Ansicht
      %div#map{ :style => 'width: 800px; height: 500px;' }
      %h2 Galerie-Ansicht
      %div#controls
        %input#control-all{ :type => 'checkbox', :value => 'all', :name => 'all' }
        %label{ :for => 'all' } Alle anzeigen
        %input#control-flash{ :type => 'checkbox', :value => 'flash', :name => 'flash' }
        %label{ :for => 'all' } Nur mit Blitz anzeigen
      %div#gallery
        - @thumb_images.each do |big_image, exif|
          - if exif["Flash"] then css_classes = exif["Flash"].gsub(/\s/, "-").gsub(/(,|\.)/, "").downcase else css_classes = "" end
          %img{:src => '/images/' + File.basename(big_image, ".JPG") + ".thumb.JPG", :alt => 'Thumbnail', :style => 'display:none', :class => css_classes }

        = #<script type="text/javascript">$('#content').click(function(e) {alert(e);});</script>
        = #@exif_data
